.aboute-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    background-color: #5DBE8C;
    padding: 2rem;
}

.aboute-me-text{
    width: 80%;
    max-width: 700px;
    line-height: 1.4;
    color: black;
}


.skill-name {
    font-size: 0.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: black;
    text-align: center; 
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    }

  .skill-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: auto;
    height: 50px;
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 8px;
  }
  
  .skills .skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start; 
    justify-content: center;
    color: black;
  }
  
.skill-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  
  .skills .skill-item img {
    display: block;
    margin: 0 auto;
  }
  

  .skills {
    background-color: white;
    padding: 0.5rem;
  }


  @media screen and (max-width: 768px) {
    .skill-images {
      height: 40px;
    
    }
  }
  
  
@media screen and (max-width: 600px) {
    .aboute-me-text{
        width: 100%;
    }

    .aboute-me{
        padding: 1rem;
    }
    .skills .skill-item p {
        font-size: 10px;
    }
   
}
