/* CSS-animering */
@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated-text {
    opacity: 0; /
  }
  
  .animate-me {
    animation: slideIn 1s ease-in-out;
    opacity: 1; 
  }
  


  @media screen and (max-width: 768px) {
  
  
    @keyframes rotateForward {
      0% { transform: translateY(0) rotate(0); }
      100% { transform: translateY(8px) rotate(45deg); }
    }
    
    @keyframes rotateBackward {
      0% { transform: translateY(0) rotate(0); }
      100% { transform: translateY(-8px) rotate(-45deg); }
    }
  
    .fade-out {
      opacity: 0;
    }
  
    .rotate-forward {
      animation: rotateForward 0.6s forwards;
    }
    
    .rotate-backward {
      animation: rotateBackward 0.6s forwards;
    }
  }  